
/*
h6 {
  position: fixed;
  overflow: hidden;
  margin-left: 2em;
}
*/

.columns {
  z-index: 1;
  -webkit-animation: fade-in 1.2s linear both;
	        animation: fade-in 1.2s linear both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* mobile phones or tablets */
@media only screen and (max-width: 768px) {
  .hero-body {
    height: 140vh;
  }

  /* login page styling begins*/
  .columns {
    display: block;
    margin-top: 3%;
  }

  .column {
    margin-bottom: 10%;
  }

  .title is-2 {
    font-size: 6em;
  }

  .subtitle is-4 {
    font-size: 3.5em;
  }

  .subtitle is-5 {
    font-size: 2.5em;
  }

  .signup-box {
    width: 60%;
    padding: 2%;
  }

  #signup {
    display: none;
  }

  #login-text {
    font-size: 2.2em;
    margin-bottom: 5%;
    cursor: pointer;
    display: block;
  }

  ::-webkit-input-placeholder {
    font-size: 1.2em;
  }

  #signup-button {
    font-size: 1.2em;
    width: 50%;
    height: auto;
  }
  /* login page styling ends */
  
  a#nav-login-field {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: table;
  }

  .nav-bar-end {
    margin-left: 20%;
  }

  #nav-buttons {
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    display: inline-grid;
  }
  
  #logout-settings {
    text-align: center;
    margin-left: 35%;
    /* margin-right: auto; */
}

  #login-button {
    margin-top: -1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%;
  }

  /* Or with lines on side */
  .decorated {
    overflow: hidden;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .decorated > span {
    position: relative;
    display: inline-block;
  }

  .decorated > span:before, .decorated > span:after { 
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px; /* half of limiter */
    margin: 0 20px;
  }

  .decorated > span:before {
    right: 100%;
  }

  .decorated > span:after {
    left: 100%;
  }
}

/* laptops or desktops */
@media only screen and (min-width: 768px) {
  #login-text {
    display: none;
  }

  .decorated {
    display: none;
  }
}

/***** form styling begins *****/
.login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
}

.settings-box {
  margin: auto;
  width: 325px;
}

.signup-area {
  padding: 30px;
}

.settings-area {
  padding: 30px;
}
/***** form styling ends *****/


footer {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0% -8px 0px -8px;
  padding: 5%;
  text-align: center;
  overflow: hidden;
}