<footer>
    <p><strong>Project Asteria</strong> <i class="fa fa-copyright"></i> 2019</p>
    <div class="icons">
        <a class="icon has-text-primary" href="https://github.com/projectasteria" target="_blank">
            <i class="fa fa-globe"></i>
        </a>
        <a class="icon has-text-primary" href="https://github.com/projectasteria" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        <a class="icon has-text-primary" href="mailto:prateekvachher@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</footer>