<section class="hero">
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Project Asteria</strong>
                    <span class="icon is-small">
                        <i class="fa fa-copyright"></i>
                    </span>2019</a>
                </p>
                <p>
                    <a class="icon has-text-primary" href="https://github.com/projectasteria" target="_blank">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a class="icon has-text-primary" href="https://github.com/projectasteria" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="icon has-text-primary" href="mailto:prateekvachher@github.user" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</section>